{{#partial "link"}}

    <link href="../../resources/css/company.css" rel="stylesheet">
{{/partial}}


{{#partial "core"}}

    {{assetScript "/resources/js/lib/jquery/jquery.bootstrap.wizard.min.js"}}
    {{assetScript "/resources/js/lib/jquery/vendor/jquery.ui.widget.js"}}
    {{assetScript "/resources/js/lib/jquery/fileinput/fileinput.min.js"}}
    {{assetScript "/resources/js/lib/jquery/fileinput/fileinput_locale_%s.js" true }}

    {{assetScript "/resources/js/common/imagesHelper.js"}}

    {{assetStyle "resources/bootstrap/css/bootstrap.min.css"}}
    {{assetStyle "resources/js/lib/jquery/css/fileinput.min.css"}}

    <form style="width: 80%" align="center" enctype="multipart/form-data" action="/application-center/application/save" id="projectForm"
          name="projectForm"
          method="post" ng-app="projectApp"
          ng-controller="projectCtrl">
        <input type="hidden" name="applicationCenterId" value="{{default project.applicationCenterId}}"/>

        <div class="row" style="margin-top:40px;">
            <div class="col-md-8">
                <img id="upload" alt="" style="width: 400px; height: 400px"
                     src="{{qiniu project.imagePath}}">
                <input type="hidden" id="imagePath" name="imagePath" value="{{default project.imagePath ''}}">
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-md-3"><label>{{i18n "project.upload"}}</label></div>
            <div class="col-md-7">
                <input type="file" id="applicationFile" name="applicationFile" ng-readonly="stopTheWorld" multiple>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <div class="messages" ng-messages="projectForm.applicationFile.$error"
                         ng-hide="projectForm.applicationFile.$pristine">

                    </div>
                </div>
            </div>
        </div>
        <!-- software name -->
        <div class="row" style="margin-top:40px;">
            <div class="col-md-3"><label> {{i18n "application.center.title.software.name"}}</label></div>
            <div class="col-md-7">
                <input type="text" name="softwareName" id="softwareName" class="form-control" ng-readonly="stopTheWorld"
                       maxlength="255" ng-required="true" ng-model="project.softwareName" required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <div class="messages" ng-messages="projectForm.softwareName.$error"
                     ng-hide="projectForm.softwareName.$pristine">
                    <div ng-message="required">must input software name</div>
                </div>
            </div>
        </div>

        <!--softwareDescription-->
        <div class="row" style="margin-top:40px;">
            <div class="col-md-3"><label>{{i18n "application.center.title.software.description"}}</label></div>
            <div class="col-md-7">
                <textarea rows="3" cols="30" name="softwareDescription" id="softwareDescription"
                          class="form-control" ng-readonly="stopTheWorld"
                          maxlength="1000" ng-required="true" ng-model="project.softwareDescription" required
                          autofocus></textarea>
                <textarea id="softwareDescriptionTemp" name="softwareDescriptionTemp"
                          style="display: none">{{default project.softwareDescription ''}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <div class="messages" ng-messages="projectForm.softwareDescription.$error"
                     ng-hide="projectForm.softwareDescription.$pristine">
                    <div ng-message="required">must input projectDetailDescription name</div>
                    <div ng-message="maxlength">The password max length is 1000 digits</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8"></div>
        </div>

        <!--contactWay-->
        <div class="row" style="margin-top:40px;">
            <div class="col-md-3"><label>{{i18n "application.center.title.cotactway"}}</label></div>
            <div class="col-md-7">
                <input type="text" name="contactWay" id="contactWay" class="form-control"
                       ng-readonly="stopTheWorld"
                       ng-required="true" ng-model="project.contactWay" required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
                <div class="messages" ng-messages="projectForm.contactWay.$error"
                     ng-hide="projectForm.contactWay.$pristine">
                    <div ng-message="required">must input collaborateWay name</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8"></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit" id="submit_btn" ng-hide="stopTheWorld"
                        ng-disabled="projectForm.$invalid || projectForm.$pristine">
                    {{i18n "project.save"}}
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" type="button" onclick="cancel()">
                    {{i18n "project.cancel"}}
                </button>
            </div>
        </div>

    </form>
{{/partial}}
{{#partial "script"}}

    <script type="text/javascript">

        function cancel() {
            window.location = '/application-center/own/lists';
        }
        (function (angular, $, _) {
            var app = angular.module("projectApp", ["app", "ngMessages"]);
            app.controller("projectCtrl", ["$scope", function ($scope) {
                $scope.project = {
                    'softwareName': "{{default project.softwareName ''}}",
                    'softwareDescription': $("#softwareDescriptionTemp").val(),
                    'contactWay': "{{default project.contactWay ''}}"
                };
                $scope.stopTheWorld =  {{default project.readonly 'false'}};
                $().ready(function () {
                    $(".file-caption-name").bind("DOMSubtreeModified", function () {
                        if (!$scope.projectForm.$invalid) {
                            $("#submit_btn").attr("disabled", false);
                        }
                    });
                });
            }]);

        }(window.angular, window.jQuery, window._));

        $().ready(function () {
            $('#mycenter_create_app_menu').addClass('active');
            $('#app_center_li').addClass('active');
            $("#applicationFile").fileinput({
                showUpload: false,
                'showPreview': true,
                'allowedFileExtensions': ['jpg', 'png', 'gif'],
                maxFileSize: 1000,
                maxFilesNum: 10,
                language: '{{jsI18n}}'
            });
        });
    </script>
{{/partial}}
{{> applicationCenter/edit_menu }}