<div class="row">
    <div class="alert alert-error" id="signinAlert">
        <a class="close" data-dismiss="alert">×</a>
        <strong>{{i18n "error"}}</strong>

        <div id="signinErrorMsg">{{default error ""}}</div>
        <input type="hidden" id="alertFlag" name="alertFlag" ng-model="alertFlag" value="{{default alertFlag ""}}"/>
    </div>
</div>

<div class="row" style="margin-top:40px;">
    <div class="col-md-3"><label for="inputEmail">{{i18n "email_account"}}:</label></div>
    <div class="col-md-5">
        <input type="email" name="email" id="email" class="form-control"
               maxlength="255" ng-required="true" ng-model="signup.userName"
               placeholder="{{i18n "email_account"}}" required autofocus>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="messages" ng-messages="theForm.email.$error" ng-hide="theForm.email.$pristine">
            <div ng-message="required">The email address is required</div>
            <div ng-message="email">The email address is invalid</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"><label for="inputPassword">{{i18n "password"}}:</label></div>
    <div class="col-md-5"><input type="password" name="password" id="password" ng-model="signup.password"
                                 maxlength="16" minlength="6" ng-required="true" ng-minlength="6" ng-maxlength="16"
                                 class="form-control" placeholder="{{i18n "password"}}" required/>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="messages" ng-messages="theForm.password.$error" ng-hide="theForm.password.$pristine">
            <div ng-message="required">The password is required</div>
            <div ng-message="minlength">The password min length is 6 digits</div>
            <div ng-message="maxlength">The password max length is 16 digits</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"><label for="confirmPassword">{{i18n "confirm_password"}}:</label></div>
    <div class="col-md-5"><input type="password" name="confirmPassword" id="confirmPassword"
                                 ng-model="signup.confirmPassword"
                                 maxlength="16" minlength="6" ng-required="true" ng-minlength="6" ng-maxlength="16"
                                 compare-to="signup.password"
                                 class="form-control" placeholder="{{i18n "confirm_password"}}" required/>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="messages" ng-messages="theForm.confirmPassword.$error" ng-hide="theForm.confirmPassword.$pristine">
            <div ng-message="required">The confirm password is required</div>
            <div ng-message="minlength">The confirm password min length is 6 digits</div>
            <div ng-message="maxlength">The confirm password max length is 16 digits</div>
            <div ng-message="compareTo">The confirm password must equal to the password</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"><label for="verifyCode">{{i18n "verify_code"}}:</label></div>
    <div class="col-md-4"><input type="text" name="verifyCode" id="verifyCode" class="form-control"
                                 ng-model="signup.verifyCode"
                                 maxlength="4" minlength="4" ng-required="true" ng-minlength="4"
                                 placeholder="{{i18n "verify_code"}}" required>
    </div>
    <div class="col-md-5"><a href=""><img id="verifyImg" ng-src="//verifyImgSrc//" ng-click="changeVersifyCode()"/></a>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="messages" ng-messages="theForm.verifyCode.$error" ng-hide="theForm.verifyCode.$pristine">
            <div ng-message="required">The verifyCode is required</div>
            <div ng-message="minlength">The verifyCode length is 4 digits</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3"><input type="checkbox" name="isAgreed" value="agreement_chk" ng-model="signup.isAgreed"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">{{i18n "agreement"}}</div>
    <div class="col-md-5"></div>
</div>

<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" type="submit" id="submit_btn"
                ng-click="save()" ng-disabled="theForm.$invalid || theForm.$pristine || !signup.isAgreed">
            {{i18n "next_step"}}
        </button>
    </div>
</div>