{{#partial "link"}}
    <link href="../../../resources/css/sign.css" rel="stylesheet">
{{/partial}}

{{#partial "header"}}
    {{> layouts/frame/sign_header }}
{{/partial}}

{{#partial "body"}}
    <div class="loginpage-bg" id="loginpage">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <form class="form-signin" action="/auth/loginAction" method="post">
                        <div class="row">
                            <div class="alert alert-error" id="signinAlert">
                                <a class="close" data-dismiss="alert">×</a>
                                <strong>{{i18n "error"}}</strong>

                                <div id="signinErrorMsg">{{default error ""}}</div>
                            </div>
                        </div>
                        <h2 class="form-signin-heading">{{i18n "welcome_login"}}</h2>
                        <label for="inputEmail" class="sr-only">{{i18n "email_account"}}</label>
                        <input type="email" name="userName" id="userName" class="form-control"
                               placeholder="{{i18n "email_account"}}" required autofocus>
                        <label for="inputPassword" class="sr-only">{{i18n "password"}}</label>
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="{{i18n "password"}}" required>
                        <div class="row">
                            <div class="col-md-7">
                                <input type="text" name="verifyCode" id="verifyCode" class="form-control"
                                       placeholder="{{i18n "verify_code"}}" required>
                            </div>
                            <div class="col-md-5">
                                <img id="verifyImg" src="" onclick="changeVersifyCode()"/>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" id="rtnUrl" name="rtnUrl" value="{{default rtnUrl "/"}}"/>
                            <input type="hidden" id="alertFlag" name="alertFlag" value="{{default alertFlag ""}}"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isRememberLogin" name="isRememberLogin" value="true"> {{i18n "remember_me"}}
                            </label>
                            <label id="forget_password"><a href="#">{{i18n "forget_password"}}</a></label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit"
                                value="login">{{i18n "signin"}}</button>
                        <div class="signup_now">
                            <a href="/signup/personal">{{i18n "signup_now"}}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{#partial "script"}}
    <script type="text/javascript">

        $().ready(function () {
            changeVersifyCode();

            if ($("#alertFlag").val() == 'Y') {
                $("#signinAlert").alert();
            } else {
                $("#signinAlert").alert('close');
            }
        });

        var verficationCodeUrl = "/verifyCode/random-image";
        function changeVersifyCode() {
            var timestamp = (new Date()).valueOf();
            var url = verficationCodeUrl + "?timestamp=" + timestamp;

            $("#verifyImg").attr("src", url);
        }

    </script>
{{/partial}}

{{> layouts/frame/base_frame }}
