{{#partial "header"}}
    {{> layouts/frame/base_header }}
{{/partial}}

{{#partial "body"}}

    {{assetStyle "resources/css/person.css"}}

    {{> layouts/frame/menu}}
    <div class="container" style="margin-top:80px;">
        <div class="row person-view-cls" >
            <div class="col-sm-7 ">


                <form style="width: 110%" action="/password/changePassword/save" id="passwordForm" name="passwordForm"
                      method="post" ng-app="passwordApp" ng-controller="passwordCtrl">

                    <div class="row">
                        <div class="alert alert-error" id="passwordErrorAlert">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>{{i18n "error"}}</strong>

                            <div id="passwordErrorMsg">{{default error ""}}</div>
                            <input type="hidden" id="pswErrorAlertFlag" name="pswErrorAlertFlag" ng-model="pswErrorAlertFlag" value="{{default pswErrorAlertFlag ""}}"/>

                        </div>
                    </div>

                    <div class="row">
                        <div class="alert alert-error" id="passwordInfoAlert">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>{{i18n "info"}}</strong>

                            <div id="passwordInfoMsg">{{default info ""}}</div>
                            <input type="hidden" id="pswInfoAlertFlag" name="pswInfoAlertFlag" ng-model="pswInfoAlertFlag" value="{{default pswInfoAlertFlag ""}}"/>

                        </div>
                    </div>


                    <input type="hidden" name="userId" value="{{default passwordForm.userId}}"/>

                    <!--origin Password-->
                    <div class="row placeholders">
                        <div class="col-md-2"><label> {{i18n "old.password"}}</label></div>
                        <div class="col-md-6"><input type="password" name="password" id="passwordForm.password"
                                                     ng-model="passwordForm.password"
                                                     maxlength="16" minlength="6"
                                                     class="form-control" placeholder="{{i18n "old.password"}}" required/>
                        </div>
                    </div>
                    <div class="row placeholders">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <div class="messages" ng-messages="passwordForm.password.$error"
                                 ng-hide="passwordForm.password.$pristine">
                                <div ng-message="required">The password is required</div>
                                <div ng-message="minlength">The password min length is 6 digits</div>
                                <div ng-message="maxlength">The password max length is 16 digits</div>
                            </div>
                        </div>
                    </div>

                    <!--new Password-->
                    <div class="row">
                        <div class="col-md-2"><label for="inputPassword">{{i18n "new.password"}}:</label></div>
                        <div class="col-md-6"><input type="password" name="new_password" id="new_password"
                                                     ng-model="passwordForm.new_password"
                                                     maxlength="16" minlength="6" ng-required="true" ng-minlength="6"
                                                     ng-maxlength="16"
                                                     class="form-control" placeholder="{{i18n "new.password"}}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <div class="messages" ng-messages="passwordForm.new_password.$error"
                                 ng-hide="passwordForm.new_password.$pristine">
                                <div ng-message="required">The password is required</div>
                                <div ng-message="minlength">The password min length is 6 digits</div>
                                <div ng-message="maxlength">The password max length is 16 digits</div>
                            </div>
                        </div>
                    </div>

                    <!--confirm new Password-->
                    <div class="row">
                        <div class="col-md-2"><label for="confirmPassword">{{i18n "confirm.new.password"}}:</label>
                        </div>
                        <div class="col-md-6"><input type="password" name="confirmPassword" id="confirmPassword"
                                                     ng-model="passwordForm.confirmPassword"
                                                     maxlength="16" minlength="6" ng-required="true" ng-minlength="6"
                                                     ng-maxlength="16"
                                                     compare-to="passwordForm.new_password"
                                                     class="form-control" placeholder="{{i18n "confirm.new.password"}}"
                                                     required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="messages" ng-messages="passwordForm.confirmPassword.$error"
                                 ng-hide="passwordForm.confirmPassword.$pristine">
                                <div ng-message="required">The confirm password is required</div>
                                <div ng-message="minlength">The confirm password min length is 6 digits</div>
                                <div ng-message="maxlength">The confirm password max length is 16 digits</div>
                                <div ng-message="compareTo">The confirm password must equal to the password</div>
                            </div>
                        </div>
                    </div>

                    <!--button-->
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="submit" id="submit_btn"
                                    ng-disabled="passwordForm.$invalid || passwordForm.$pristine">
                                {{i18n "save"}}
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" type="button" onclick="cancel()">
                                {{i18n "cancel"}}
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{#partial "script"}}
    <script type="text/javascript">

        function cancel() {
            window.location = '/';
        }

        $().ready(function () {

            if ($("#pswErrorAlertFlag").val() == 'Y') {
                $("#passwordErrorAlert").alert();
            } else {
                $("#passwordErrorAlert").alert('close');
            }
            if ($("#pswInfoAlertFlag").val() == 'Y') {
                $("#passwordInfoAlert").alert();
            } else {
                $("#passwordInfoAlert").alert('close');
            }
        });

        (function (angular, $, _) {
            var app = angular.module("passwordApp", ["app", "ngMessages"]);


            app.directive("compareTo", function () {
                return {
                    require: "ngModel",
                    scope: {
                        otherModelValue: "=compareTo"
                    },
                    link: function (scope, element, attributes, ngModel) {

                        ngModel.$validators.compareTo = function (modelValue) {
                            return modelValue == scope.otherModelValue;
                        };

                        scope.$watch("otherModelValue", function () {
                            ngModel.$validate();
                        });
                    }
                };
            });

            app.controller("passwordCtrl", ["$scope", function($scope){
                $scope.pswErrorAlertFlag = 'N';
                $scope.pswInfoAlertFlag = 'N';
                $scope.passwordForm = {password: '', new_password: '',confirmPassword: ''};
            }]);

        }(window.angular, window.jQuery, window._));


    </script>
{{/partial}}

{{> layouts/frame/base_frame }}