{{#partial "core"}}


    {{assetScript "/resources/js/lib/jquery/vendor/jquery.ui.widget.js"}}

    {{assetScript "/resources/js/common/imagesHelper.js"}}
    {{assetScript "/resources/summernote/summernote.min.js"}}
    {{assetScript "/resources/js/lib/jquery/fileinput/fileinput.min.js"}}
    {{assetScript "/resources/js/lib/jquery/fileinput/fileinput_locale_%s.js" true }}

    {{assetStyle "resources/js/lib/jquery/css/fileinput.min.css"}}
    {{assetStyle "resources/css/person.css"}}
    {{assetStyle "resources/summernote/summernote.css"}}
    {{assetStyle "resources/font-awesome/4.1.0/css/font-awesome.min.css"}}



    <div class="row placeholders bs-docs-container company-view-cls">
        <form style="width: 110%" align="center" action="/person/blackboard/savePersonBlackboard"
              id="personBlackboardForm" name="personBlackboardForm"
              method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="personBlackboardId" value="{{default personBlackboard.personBlackboardId}}"/>
            <!--blackboard-->
            <div class="row placeholders">
                <div class="col-md-2"><label> {{i18n "blackboard"}}</label></div>
                <div class="col-md-8">
                    <div class="summernote" id="personBlackboard" name="personBlackboard"
                         required autofocus></div>
                    <input type="hidden" name="blackboard" id="blackboard"
                          ng-model="personBlackboard.blackboard"
                           value="{{default personBlackboard.blackboard}}"/>
                </div>
            </div>


            <!--button-->
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type="submit" id="submit_btn" onclick="getBlackboard();">
                           <!-- ng-disabled="personBlackboardForm.$invalid || personBlackboardForm.$pristine"-->
                        {{i18n "save"}}
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type="button" onclick="cancel()">
                        {{i18n "cancel"}}
                    </button>
                </div>
                <div class="col-md-4"></div>
            </div>

        </form>
    </div>
{{/partial}}
{{#partial "script"}}
    <script type="text/javascript">

        function cancel() {
            window.location = '/person/blackboard/list/personBlackboards';
        }
       /* (function (angular, $, _) {
            var app = angular.module("personBlackboardApp", ["app", "ngMessages"]);

            app.controller("personBlackboardCtrl", ["$scope", function ($scope) {
                $scope.personBlackboard = {
                    'blackboard': "{{default personBlackboard.blackboard ''}}"
                };


            }]);
        }(window.angular, window.jQuery, window._));
*/
        $().ready(function () {
            $('#mycenter_person_blackboard_menu').addClass("active");
            $('#personBlackboard').summernote({
                height: 400,
                oninit: function () {

                },
                onblur: function () {

                }
            });
            $('.summernote').code($('#blackboard').val());
        });

        function getBlackboard() {
            var sHTML = $('.summernote').code();
            $('#blackboard').val(sHTML);


            $("#personBlackboardForm").submit();
        }
    </script>
{{/partial}}

{{> person/edit_menu }}