{{#partial "core"}}


    {{assetScript "/resources/js/lib/jquery/vendor/jquery.ui.widget.js"}}
    {{assetScript "/resources/js/lib/jquery/fileinput/fileinput.min.js"}}
    {{assetScript "/resources/js/lib/jquery/fileinput/fileinput_locale_%s.js" true }}
    {{assetScript "/resources/js/common/imagesHelper.js"}}

    {{assetStyle "resources/js/lib/jquery/css/fileinput.min.css"}}
    {{assetStyle "resources/css/company.css"}}

    <div class="row placeholders bs-docs-container company-view-cls">
        <form style="width: 110%" align="center" action="/company/projectHistory/saveProjectHistory"
              id="projectHistoryForm" name="projectHistoryForm"
              enctype="multipart/form-data"
              method="post" ng-app="projectHistoryApp"
              ng-controller="projectHistoryCtrl">
            <input type="hidden" name="projectHistoryId" value="{{default projectHistory.projectHistoryId}}"/>
            <!--projectName-->
            <div class="row placeholders">
                <div class="col-md-2"><label> {{i18n "project.name"}}</label></div>
                <div class="col-md-6">
                    <input type="text" name="projectName" id="projectName" class="form-control"
                           maxlength="255" ng-required="true" ng-model="projectHistory.projectName" required autofocus>
                </div>
            </div>
            <div class="row placeholders">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="messages" ng-messages="projectHistoryForm.projectName.$error"
                         ng-hide="projectHistoryForm.projectName.$pristine">
                        <div ng-message="required">must input projectHistory name</div>
                    </div>
                </div>
            </div>

            <!--projectHistory.description-->
            <div class="row">
                <div class="col-md-2"><label>{{i18n "project.detail"}}</label></div>
                <div class="col-md-6">
                <textarea rows="3" cols="30" name="description" id="description" class="form-control"
                          maxlength="500" ng-required="true" ng-model="projectHistory.description" required
                          autofocus></textarea>
                    <textarea id="descriptionTemp" name="descriptionTemp"
                              style="display: none">{{default projectHistory.description ''}}</textarea>
                </div>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-md-2"><label>{{i18n "project.upload"}}</label></div>
                <div class="col-md-6">
                    <input type="file" id="projectFile" name="projectFile" multiple>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <div class="messages" ng-messages="projectHistoryForm.projectFile.$error"
                             ng-hide="projectHistoryForm.projectFile.$pristine">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <img id="upload" alt="" style="width: 400px; height: 400px"
                         src="{{qiniu projectHistory.imagePath "400" "400"}}">
                    <input type="hidden" id="imagePath" name="imagePath" value="{{default projectHistory.imagePath ''}}"
                           ng-model="imagePath">
                </div>
            </div>

            <!--button-->
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type="submit" id="submit_btn"
                            ng-disabled="projectHistoryForm.$invalid || projectHistoryForm.$pristine">
                        {{i18n "save"}}
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type="button" onclick="cancel()">
                        {{i18n "cancel"}}
                    </button>
                </div>
                <div class="col-md-4"></div>
            </div>

        </form>
    </div>
{{/partial}}
{{#partial "script"}}
    <script type="text/javascript">

        function cancel() {
            window.location = '/company/projectHistory/list/projectHistorys';
        }
        (function (angular, $, _) {
            var app = angular.module("projectHistoryApp", ["app", "ngMessages"]);

            app.controller("projectHistoryCtrl", ["$scope", function ($scope) {
                $scope.projectHistory = {
                    'projectName': "{{default projectHistory.projectName ''}}",
                    'description': $("#descriptionTemp").val()

                };

                $().ready(function () {
                    $(".file-caption-name").bind("DOMSubtreeModified", function () {
                        if (!$scope.projectHistoryForm.$invalid) {
                            $("#submit_btn").attr("disabled", false);
                        }
                    });
                });
            }]);
        }(window.angular, window.jQuery, window._));


        $().ready(function () {

            $('#mycenter_company_project_menu').addClass("active");
            $("#projectFile").fileinput({
                showUpload: false,
                'showPreview': true,
                'allowedFileExtensions': ['jpg', 'png', 'gif'],
                maxFileSize: 1000,
                maxFilesNum: 10,
                language: '{{jsI18n}}'
            });


        });


    </script>
{{/partial}}

{{> company/edit_menu }}