{{#partial "header"}}
    {{> layouts/frame/base_header }}
{{/partial}}



{{#partial "body"}}

    {{> layouts/frame/menu}}

    <div class="container" style="margin-top: 5%;">
        <div class="row">
            <!--<div class="col-sm-3 sidebar">
                <ul class="nav nav-sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="/company/list/companys">{{i18n "menu.company"}} </a></li>
                        <li class="active"><a href="#">{{i18n "menu.person"}} </a><span class="sr-only">{{i18n "menu.person"}} </span></li>
                    </ul>
                </ul>
            </div>-->

            <div class="col-sm-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li id="mycenter_person_menu"><a href="/person/view/person">{{i18n "mycenter.menu.person"}} <span class="sr-only">{{i18n "mycenter.menu.person"}} </span></a></li>
                    <li id="mycenter_person_blackboard_menu"><a href="/person/blackboard/list/personBlackboards">{{i18n "mycenter.menu.person.blackboard"}}  <span class="sr-only">{{i18n "mycenter.menu.person.blackboard"}} </span> </a></li>
                </ul>
            </div>

            <div class="col-sm-7 ">
                {{#block "core"}}{{/block}}


            </div>
        </div>
    </div>

{{/partial}}


{{> layouts/frame/base_frame }}