{{#partial "core"}}

    {{assetStyle "resources/css/person.css"}}
    {{assetScript "/resources/js/lib/jquery/jquery.bootstrap.wizard.min.js"}}

<table id="personList" data-toggle="table" data-url="/person/list/other/persons" data-card-view="true"
       data-pagination="true"
       data-search="true"
       data-show-toggle="true">
    <thead>
    <tr dbl-click-row.bs.table="alert();">
        <th data-field="personName">{{i18n "person.name"}}</th>
        <th data-field="enterprise">{{i18n "person.enterprise"}}</th>
        <th data-field="location">{{i18n "person.location"}}</th>
        <th data-field="certificateSkill">{{i18n "certificateSkill"}}</th>
    </tr>
    </thead>
</table>
{{/partial}}
{{#partial "script"}}
<script type="text/javascript">
    $().ready(function(){
        $('#company_person_menu_person').addClass("active");

        $('#personList').bootstrapTable({

        }).on('dbl-click-row.bs.table', function (e, row, $element) {
            window.location = '/person/view/person/' + row.personId;
        });


    });


</script>
{{/partial}}
{{> company/company_person_menu }}