{{#partial "core"}}

    {{assetStyle "resources/css/person.css"}}

    <div class="row person-view-cls">
        <form style="width: 110%" action="/person/savePerson" id="personForm" name="personForm" method="post"
              ng-app="personApp"
              ng-controller="personCtrl">
            <input type="hidden" name="personId" value="{{default person.personId}}"/>
            <input type="hidden" name = "verified" value="{{default person.verified}}"/>
            <!--personName-->
            <div class="row placeholders">
                <div class="col-md-2"><label> {{i18n "person.name"}}</label></div>
                <div class="col-md-6">
                    <input type="text" name="personName" id="personName" class="form-control"
                           maxlength="255" ng-required="true" ng-model="person.personName" required autofocus>
                </div>
            </div>
            <div class="row placeholders">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="messages" ng-messages="personForm.personName.$error"
                         ng-hide="personForm.personName.$pristine">
                        <div ng-message="required">must input person name</div>
                    </div>
                </div>
            </div>
            <!--enterprise-->
            <div class="row placeholders">
                <div class="col-md-2"><label>{{i18n "person.enterprise"}}</label></div>
                <div class="col-md-6">
                    <input type="text" name="enterprise" id="enterprise" class="form-control" value=
                            ng-required="true" ng-model="person.enterprise" required autofocus>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="messages" ng-messages="personForm.enterprise.$error"
                         ng-hide="personForm.enterprise.$pristine">
                        <div ng-message="required">must input enterprise name</div>
                    </div>
                </div>
            </div>

            <!--industryInvolved / location-->
            <div class="row" id="priovincesCity">
                <div class="col-md-2"><label> {{i18n "person.location"}}</label></div>
                <div class="col-md-2">
                    <select id="location" name="location" class="form-control prov" ng-required="true"
                            ng-model="person.location" required
                            autofocus></select>
                </div>
                <div class="col-md-2"><label> {{i18n "person.industryInvolved"}}</label></div>
                <div class="col-md-2">
                    <input type="text" name="industryInvolved" id="industryInvolved" class="form-control" value=
                            ng-required="true" ng-model="person.industryInvolved" required autofocus>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="messages" ng-messages="personForm.location.$error"
                         ng-hide="personForm.location.$pristine">
                        <div ng-message="required">must input location name</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="messages" ng-messages="personForm.industryInvolved.$error"
                         ng-hide="personForm.industryInvolved.$pristine">
                        <div ng-message="required">must input industryInvolved name</div>
                    </div>
                </div>
            </div>

            <!--person.workExperience-->
            <div class="row">
                <div class="col-md-2"><label>{{i18n "workExperience"}}</label></div>
                <div class="col-md-6">
                <textarea rows="3" cols="30" name="workExperience" id="workExperience" class="form-control"
                          maxlength="500" ng-required="true" ng-model="person.workExperience" required
                          autofocus></textarea>
                    <textarea id="workExperienceTemp" name="workExperienceTemp"
                              style="display: none">{{default person.workExperience ''}}</textarea>
                </div>
            </div>

            <!--person.educationBackground-->
            <div class="row">
                <div class="col-md-2"><label>{{i18n "educationBackground"}}</label></div>
                <div class="col-md-6">
                <textarea rows="3" cols="30" name="educationBackground" id="educationBackground" class="form-control"
                          maxlength="500" ng-required="true" ng-model="person.educationBackground" required
                          autofocus></textarea>
                    <textarea id="educationBackgroundTemp" name="educationBackgroundTemp"
                              style="display: none">{{default person.educationBackground ''}}</textarea>
                </div>
            </div>

            <!--person.certificateSkill-->
            <div class="row">
                <div class="col-md-2"><label>{{i18n "certificateSkill"}}</label></div>
                <div class="col-md-6">
                <textarea rows="3" cols="30" name="certificateSkill" id="certificateSkill" class="form-control"
                          maxlength="500" ng-required="true" ng-model="person.certificateSkill" required
                          autofocus></textarea>
                    <textarea id="certificateSkillTemp" name="certificateSkillTemp"
                              style="display: none">{{default person.certificateSkill ''}}</textarea>
                </div>
            </div>

            <!--person.recommendLetter-->
            <div class="row">
                <div class="col-md-2"><label>{{i18n "recommendLetter"}}</label></div>
                <div class="col-md-6">
                <textarea rows="3" cols="30" name="recommendLetter" id="recommendLetter" class="form-control"
                          maxlength="500" ng-required="true" ng-model="person.recommendLetter" required
                          autofocus></textarea>
                    <textarea id="recommendLetterTemp" name="recommendLetterTemp"
                              style="display: none">{{default person.recommendLetter ''}}</textarea>
                </div>
            </div>


            <!--button-->
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type="submit" id="submit_btn"
                            ng-disabled="personForm.$invalid || personForm.$pristine">
                        {{i18n "save"}}
                    </button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type="button" onclick="cancel()">
                        {{i18n "cancel"}}
                    </button>
                </div>
                <div class="col-md-4"></div>
            </div>

        </form>
    </div>
{{/partial}}
{{#partial "script"}}
    {{assetScript "/resources/js/lib/provincecity/jquery.cityselect.js"}}
    <script type="text/javascript">

        function cancel() {
            window.location = '/person/list/persons';
        }
        (function (angular, $, _) {
            var app = angular.module("personApp", ["app", "ngMessages"]);

            app.controller("personCtrl", ["$scope", function ($scope) {
                $scope.person = {
                    'personName': "{{default person.personName ''}}",
                    'industryInvolved': "{{default person.industryInvolved ''}}",
                    'location': "{{default person.location ''}}",
                    'enterprise': "{{default person.enterprise ''}}",
                    'workExperience': $("#workExperienceTemp").val(),
                    'educationBackground': $("#educationBackgroundTemp").val(),
                    'certificateSkill': $("#certificateSkillTemp").val(),
                    'recommendLetter': $("#recommendLetterTemp").val(),
                    'verified':"{{default company.verified ''}}"

                };


            }]);
        }(window.angular, window.jQuery, window._));

        $().ready(function () {
            $('#mycenter_person_menu').addClass("active");
            $("#priovincesCity").citySelect({
                prov: "{{default person.location ''}}",
                //city:"{{default person.city ''}}",
                //dist:"{{default person.dist ''}}",
                nodata: "none",
                required: false
            });

        });


    </script>
{{/partial}}

{{> person/edit_menu }}