{{#partial "title"}}
    Civil
{{/partial}}
{{#partial "includeResources"}}
    <!--{{assetScript "/resources/js/lib/jquery/jquery-1.9.1.min.js"}}-->
    {{assetStyle "resources/bootstrap/css/bootstrap.min.css"}}
    {{assetStyle "resources/summernote/summernote.css"}}
    {{assetStyle "resources/font-awesome/4.1.0/css/font-awesome.min.css"}}
    {{assetScript "/resources/bootstrap/js/bootstrap.min.js"}}
    {{assetScript "/resources/summernote/summernote.min.js"}}
{{/partial}}
{{#partial "body"}}
    {{#assign "value1"}}1{{/assign}}
    {{value1}}
    I am in hbs ttt:
    {{default helloWords "Default Hello"}}

    Currently User
    {{default user.loginId ""}}
    <p/>
    {{i18n "ben.hbs"}}
    <p/>
    {{default configTesting "Can't find properties"}}
<form id="summerNoteForm" name="summerNoteForm" action="/hello/saveSummerNote" method="post">
    <div class="summernote" id="article" name="summernote"></div>
    <input type="button" value="SummerNote" onclick="getSummernote()" />
     <textarea cols="0" rows="0" id="summerNoteHtml" name="summerNoteHtml" >
         {{default summerNoteHtml ""}}
     </textarea>

    <div id="note_content"></div>
</form>

{{/partial}}
{{#partial "script"}}
    <script type="text/javascript">


        $().ready(function(){
            $('#article').summernote({
                height: 400,
                oninit: function () {
                },
                onblur: function () {

                }
            });
            var sHTML = $('textarea[name=summerNoteHtml]').val();
            $('#article').code(sHTML);
        });
        function getSummernote() {
            var sHTML = $('.summernote').code();
            $('textarea[name="summerNoteHtml"]').val(sHTML);

            $('#note_content').html(sHTML);
            $("#summerNoteForm").submit();
        }

    </script>
{{/partial}}
{{> layouts/default/include/base_layout }}