{{#partial "title"}}
    Civil
{{/partial}}
{{#partial "includeResources"}}
    <!--{{assetScript "/resources/js/lib/jquery/jquery-1.9.1.min.js"}}-->
    {{assetStyle "resources/bootstrap/css/bootstrap.min.css"}}
    {{assetStyle "resources/summernote/summernote.css"}}
    {{assetStyle "resources/font-awesome/4.1.0/css/font-awesome.min.css"}}
    {{assetScript "/resources/bootstrap/js/bootstrap.min.js"}}
    {{assetScript "/resources/summernote/summernote.min.js"}}
{{/partial}}
{{#partial "style"}}
    <style type="text/css">
        .dac-header-search-input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #cccccc;
            border-radius: 0;
        //box-sizing: border-box;
            color: #2f2f2f;
            font-size: 14px;
            height: 24px;
            outline: none;
            text-align: center;
            padding: 4px 20px 4px 0;
        //            width: 100%;
        // z-index: 1500;
        }

        input[type=text] {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #cccccc;
            border-radius: 0;
        //box-sizing: border-box;
            color: #2f2f2f;
            font-size: 14px;
            height: 24px;
            outline: none;
            text-align: center;
            padding: 4px 20px 4px 0;
        //            width: 100%;
        // z-index: 1500;
        }

        table{
            border-collapse: collapse;
            border: 1px solid black;
        }
        table td{
            border: 0px solid black;
        }
    </style>
{{/partial}}
{{#partial "body"}}
    <form style="width: 100%" action="/hello/save" id="personForm" name="personForm" method="post">
        <div>
            <!-- example for fill space -->
            <input type="text" class="dac-header-search-input"/>
        </div>
        <input type="text"/>
        <table>
            <tr>
                <td>a test</td>
                <td> b testing 2</td>
            </tr>
        </table>


    <textarea rows="3" cols="30" name="readingContext" id="readingContext">

    </textarea>

        <div style="font-size: 14px; color: black">
            {{{default readingReal ''}}}
        </div>

        <button class="btn btn-primary" type="submit" id="submit_btn">
            {{i18n "save"}}
        </button>


    </form>

{{/partial}}
{{> layouts/default/include/base_layout }}
