<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>土木工程外包网</title>

    <!-- Bootstrap -->
    <!--<link href="../../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../resources/js/lib/docs/docs.min.css" rel="stylesheet">
    <link href="../../../resources/css/app.css" rel="stylesheet">
    <link href="../../../resources/css/main.css" rel="stylesheet">-->
    {{#block "link"}}{{/block}}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
</head>
<body>
{{assetScript "/resources/js/lib/jquery/jquery-1.9.1.min.js"}}
{{assetScript "/resources/js/lib/angularjs/angular.min.js"}}
{{assetScript "/resources/js/lib/angularjs/angular-messages.min.js"}}
{{assetScript "/resources/js/lib/business/app.js"}}


{{assetScript "/resources/bootstrap/js/bootstrap.min.js"}}
{{assetScript "/resources/bootstrap/table/bootstrap-table.js"}}
{{assetScript "/resources/js/lib/jquery/jquery.bootstrap.wizard.min.js"}}


{{assetStyle "resources/bootstrap/css/bootstrap.min.css"}}
{{assetStyle "resources/bootstrap/table/bootstrap-table.css"}}
{{assetStyle "resources/js/lib/docs/docs.min.css"}}
{{assetStyle "resources/css/app.css"}}
{{assetStyle "resources/css/main.css"}}

<header id="container">
    {{#block "header"}}{{/block}}
</header>

{{#block "body"}}{{/block}}

<footer class="clearfix simple">
    {{#block "footer"}}{{/block}}
</footer>

{{#block "script"}}{{/block}}

</body>
</html>